* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
  body{
    font-family: monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
  }
header {
    
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #a7dadc;
    padding: 10px;
  }
  /* #menu-icons{
    font-size: 3.6rem;
    color: red;
    display: none;
  }
   */
  .titulo {
    color: #447a9c;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    gap:10px;
    padding: 5px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #447a9c;
  }

  ul li a:hover {
    color: #f2faef;
    background: #447a9c;
    border-radius: 8%;
    padding: 10px;
  }
  main {
    text-align: center;
    flex-direction: column;
    width: 100%;
    background: #a7dadc;
    height: 100vh;
  }

  .texto-principal{
    flex-direction: column;
    max-width: 45%;
    margin-top: 25px;
    line-height: 2;
    }

  .conteudo-inicial{
    display: flex;
    justify-content: space-around;
    padding: 50px;
  }
 .conteudo-inicial h1{
  padding-top: 15px;
 }
  .conteudo-inicial p{
    font-size: 1.6rem;
    padding-top: 10px;
  }
  span{
   background: linear-gradient(purple, blue);
  }

  .social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    text-decoration: none;
    background: transparent;
    border: .2rem solid #44475a;
    border-radius: 50%;
    transition: 0.5s ease;
  }

  .social a:hover{
    background: #447a9c;
    color: #f2faef;
  }

  .imagem-primaria{
    width: 300px;
    height: 300px;
    border: 2px dotted #000;
    border-radius: 50%;
    margin-top: 25px;
    animation: floatImage 4s ease-in-out infinite;
  }

  @keyframes floatImage {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-2.4rem);
    }
    100% {
      transform: translateY(0);
    }
  }
/*  ABOUT SECTION  */
  section{
    height: 100vh;
  }
  .about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #f2faef;
  }
  .about-img img{
    width: 35vw;
  }
  .about-h2{
    color:#447a9c;
    text-align: center;
    font-size: 3.5rem;
  }
  .about h2{
    text-align: left;
    line-height: 1.2;
  }
  .about p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem ;
  }
/*  PROJECTS SECTION */

.project{
  background: #a7dadc;
}
.project h2{
  margin-bottom: 5rem;
  padding-top: 5rem;
  color:#447a9c;
  font-size: 3.5rem;
  
}
  .project-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 2rem;
  }

  .project-cards .card{
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    background:#a7dadc;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #ffffff;
    transition: .5s ease;
  }

  .project-cards .card:hover{
    border-color: #447a9c;
    transform: scale(1.02);
  }
  /*  SKILLS SECTION */

  .skills-text{
    text-align: center;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    }

  .skillis-img .imag-baixo{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   padding: 2rem;
  }

  .skillis-img img{
    width: 15%;
    border: 3px solid red;
    }

  .imag-baixo img{
    width: 15%;
    border: 3px solid green;
  }

  .skillis-img {
    animation: skillis 5s ease-in-out infinite;
  }

  .imag-baixo{
    animation: baixo 5s ease-in-out infinite;
  }
  
  @keyframes skillis {
    0%{
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }


  @keyframes baixo {
    0%{
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .skillis-img img:last-child,
  .imag-baixo img:last-child {
    animation-fill-mode: forwards;
  }
  



 