* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
  body{
    font-family: monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
  }
header {
    
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #d28574;
    border: 2px dotted #000;
  }
  #menu-icons{
    font-size: 3.6rem;
    color: red;
    display: none;
  }
  
  .titulo {
    color: #895655;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    gap:10px;
    padding: 5px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #895655;
  }
  li:hover {
    background-color:#e7a97e;
  }
  main {
    text-align: center;
    flex-direction: column;
    width: 100%;
    background: #e0ba9b;
    height: 100vh;
  }

  .texto-principal{
    flex-direction: column;
    max-width: 45%;
    margin-top: 25px;
    line-height: 2;
    }

  .conteudo-inicial{
    display: flex;
    justify-content: space-around;
    padding: 100px;
  }
 .conteudo-inicial h1{
  padding-top: 30px;
 }
  .conteudo-inicial p{
    font-size: 1.6rem;
  }
  span{
    color:#44475a;
  }

  .social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    text-decoration: none;
    background: transparent;
    border: .2rem solid #44475a;
    border-radius: 50%;
    transition: 0.5s ease;
  }

  .social a:hover{
    background: #895655;
    color: #e7a97e;
  }

  .imagem-primaria{
    width: 300px;
    height: 300px;
    border: 2px dotted #000;
    border-radius: 50%;
    margin-top: 25px;
    animation: floatImage 4s ease-in-out infinite;
  }

  @keyframes floatImage {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-2.4rem);
    }
    100% {
      transform: translateY(0);
    }
  }
/*  ABOUT SECTION  */
  section{
    height: 100vh;
  }
  .about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #ffffff;
  }
  .about-img img{
    width: 35vw;
  }
  .about-h2{
    text-align: center;
    font-size: 4.5rem;
  }
  .about h2{
    text-align: left;
    line-height: 1.2;
  }
  .about p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem ;
  }
/*  PROJECTS SECTION */

.project h2{
  margin-bottom: 5rem;
  
}
  .project-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 2rem;
  }

  .project-cards .card{
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    background: #44475a;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #ffffff;
    transition: .5s ease;
  }

  .project-cards .card:hover{
    border-color: #895655;
    transform: scale(1.02);
  }
  
  /* .project h4{
    text-align: center;
    padding-bottom: 10px;
    color:#CCCCCC;
    padding-top: 10px;
  } */


  /* .card{
    
    border-radius: 20px;
    box-shadow: 2px 2px 100px 0 #0003;
    flex-shrink: 0;
    max-height: 300px;
    max-width: 300px;

  }

  .card p{
    padding-top: 10px;
    color:#CCCCCC;
    line-height: 20px;
    margin: 0 1rem 3rem;
  } */

  
