* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.menu{
  position: fixed;
  background: transparent;
  backdrop-filter: blur(30px);
  width: 100%;
  padding: 2rem;
}
.menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 8rem;
  padding-top: 2%;
}

.menu ul li a {
  text-decoration: none;
  color: #447a9c;
}

ul li a:hover {
  color: #f2faef;
  background: #447a9c;
  border-radius: 8%;
  padding: 10px;
}

main {
  text-align: center;
  flex-direction: column;
  width: 100%;
  background: #b6cead;
  height: 100vh;
}

.texto-principal {
  flex-direction: column;
  max-width: 600px;
  margin-top: 25px;
  line-height: 2;
}

.texto-principal p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.conteudo-inicial {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.conteudo-inicial h1 {
  padding-top: 15px;
}

.conteudo-inicial p {
  font-size: 1rem;
  padding-top: 10px;
}

span {
  color: #447a9c;
}

.social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  text-decoration: none;
  background: transparent;
  border: .2rem solid #44475a;
  border-radius: 50%;
  transition:  0.5s ease; /* Apenas animando a cor de fundo */
}

.social a:hover {
  background: #447a9c;
  color: #f2faef;
}

.fa-instagram{
  color:#EE00F5;
}

.fa-github{
  color:black;
}
.fa-discord{
  color: #7289da;
}
.fa-telegram{
  color:#e0cfb1;
}
.imagem-primaria {
  width: 300px;
  height: 300px;
  border: 2px dotted #000;
  border-radius: 50%;
  margin-top: 25px;
  animation: floatImage 4s ease-in-out infinite;
  box-shadow: 10px 10px 100px 25px gray
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }

  100% {
    transform: translateY(0);
  }
}

/*  ABOUT SECTION  */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #f2faef;
}

.about-img img {
  width: 30vw;
  margin-right: 10px;
  box-shadow: 10px 10px 100px 25px gray;
}

.about-h2 {
  color: #447a9c;
  text-align: center;
  font-size: 3.5rem;
}

.about h2 {
  text-align: left;
  line-height: 1.2;
  padding-left: 10px;

}

.about p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  padding-left: 10px;
}

/*  PROJECTS SECTION */
.project{
  background: #f2faef;
  height: 100vh;
}

.project h2 {
  margin-bottom: 5rem;
  padding-top: 5rem;
  color: #447a9c;
  font-size: 3.5rem;
  padding-left: 10px;
}

.project-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.project-cards .card {
  flex: 1 1 30rem;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid #ffffff;
}

.project-cards .card:hover {
  border-color: #447a9c;
  transform: scale(1.02);
}

.card a {
  text-decoration: none;
}

.fa-calculator {
  font-size: 50px;
  color: purple;
  text-decoration: none;
}

.fa-shield-dog {
  font-size: 50px;
  color: maroon;

}

.fa-regular {
  font-size: 50px;
  color: green;
  text-decoration: none;
}

/*  SKILLS SECTION */
.skills {
  align-items: center;
  background: #b6cead;
}

.skills div {
  padding-bottom: 10px;
}

.skills-text {
  text-align: center;
  margin-left: auto;
  margin-bottom: auto;
  padding-top: 10%;
  margin-bottom: 5%;
}

.skills p {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.skillis-img .imag-baixo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.skillis-img img {
  width: 10%;
  aspect-ratio: 1/1;
  object-fit: cover;
  
}

.imag-baixo img {
  width: 10%;
 
}

.skillis-img {
  animation: skillis 5s ease-in-out infinite;
  text-align: center;
}

.imag-baixo {
  animation: baixo 5s ease-in-out infinite;
  text-align: center;
}

@keyframes skillis {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes baixo {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.skillis-img img:last-child,
.imag-baixo img:last-child {
  animation-fill-mode: forwards;
}

/* responsividade */
@media screen and (max-width: 768px) {
  .conteudo-inicial {
    padding: 0 20px;
    flex-direction: column-reverse;
  }

  .texto-principal h1 {
    font-size: 10px;
  }
  .texto-principal h2 {
    width: 100%;
  }

  .texto-principal p {
    font-size: 12px;
  }

  .social a {
    width: 2rem;
    height: 2rem;
  }

  .about-conteudo .about-img {
    width: 100%;
    flex-direction: column;
  }

  .about-h2 {
    font-size: 20px;
  }

  .about p {
    font-size: 14px;
  }

  .project{
    height: 50vh;
  }

  .project-cards {
    flex-direction: column;
    padding: 2%;
    gap: 10px;
    margin-bottom: 20%;
  }
}

@media screen and (max-width: 768px) {
  .skills-text {
    padding-top: 20%;
    margin-bottom: 2%;
  }

  .skillis-img img,
  .imag-baixo img {
    width: 20%;
  }
}
@media screen and (max-width: 576px) {
  .skills-text {
    padding-top: 100%;
    margin-bottom: 10%;
  }

  .skillis-img img,
  .imag-baixo img {
    width: 20%;
  }
}